body {
  height: 100%;
  width: 100%;
  z-index: 0;

  margin: 0px;
  padding: 0px;
  border: 0px;
}

div {
  display: flex;
  flex-direction: column;
}

// TODO: refactor out global list styles into css modules

.title {
  height: 64px;
  max-width: 100%;

  margin: 5px;
  padding: 0px;
  border: none;

  font-size: 48px;
  font-weight: 700;
  color: grey;
}

.title::placeholder {
  color: lightgrey;
}

input:focus {
  outline: none;
}

.item {
  height: 40px;
  max-width: 100%;

  margin: 5px;
  padding: 0px;
  border: 0px;

  font-size: 20px;
  color: grey;
}
